body{
    text-align: center;
    color: #354463;
    height: 100vh;
    background-color: #C1F7D5;
    margin: 0rem;
}

header{
    background-color: white;
    margin: 0rem;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2, h3, h4{
    font-family: Helvetica;
}

h2{
    font-size: 2rem;
    margin-bottom: 0rem;
}

h4{
    font-size: 1.5rem;
    font-weight: normal;
}

button{
    background-color: #354463;
    color: #C1F7D5;
    border-radius: 20px;
    padding: 0.75%;
    font-size: large;
    border: none;
    margin: 0 7.5%;
}